.add-product-form-container {
  margin-top: 50px;
  margin-bottom: 50px;
}

.add-product-form {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 20px;
}

label {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 5px;
  display: block;
}

.form-control {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s ease-in-out;
}

.form-control:focus {
  border-color: #0066cc;
  outline: none;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #0066cc;
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  width: 150px;
}

.btn:hover {
  background-color: #004d99;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.image-preview {
  margin-top: 20px;
  text-align: center;
}

.image-preview img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
.just.text {
  text-align: center;
  margin-bottom: 30px;
}

.just.text h1 {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  text-transform: uppercase;
}
